<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}Let's Chat</title>

        <script src="https://cdn.tailwindcss.com"></script>

        <style>
            .messages {
                height: 400px;
                overflow-y: auto;
            }
        </style>
    </head>

    <body class="bg-stone-500">
        <nav class="flex items-center justify-between px-4 py-5 bg-stone-800">
            <div>
                <a href="/" class="text-xl text-white">Let's Chat</a>
            </div>

            <div class="flex items-center space-x-4">
                {% if request.user.is_authenticated %}
                    <h2 class="text-white text-lg hover:text-gray-200">Hi {{user.username}}</h2>
                    <a href="/rooms/" class="text-white hover:text-gray-200">Rooms</a>

                    <form action="/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="px-5 py-3 rounded-xl text-white bg-stone-500 hover:bg-stone-800">Log out</button>
                    </form>
                {% else %}
                    <a href="/login/" class="text-white hover:text-gray-200">Log in</a>
            
                    <a href="/signup/" class="px-5 py-3 rounded-xl text-white bg-stone-500 hover:bg-stone-800">Sign up</a>
                {% endif %}
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>